@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;500;700&family=Oswald:wght@700&display=swap');
*{
    font-family: 'Nunito', sans-serif;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    color: grey;
}
.infoAtas a div{
    margin: 0px 10px 0px 10px;    
    display: flex;
    justify-content: center;
}
.infoAtas img{
    transform: scale(.7);
    margin: 0px 5px 0px 5px;
}
.infoAtas{
    font-size: 17px;
    font-weight: 200;
    display: flex; 
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start; 
    background-color: rgba(207, 207, 207, 0.349); 
    padding: 25px 60px 25px 60px;   
}
.navigasiAtas{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 25px 60px 25px 60px;   
}
.burgerMenu{
    width: 20px;
    height: 20px;
    visibility: hidden;
    margin: auto;
}
.burgerMenuIndex{
    box-sizing: unset;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: large;
    justify-content: space-between;
}
.burgerMenu input{width: 40px;height: 40px;visibility: hidden;}
.burgerMenuButton{
    display: block;
    width: 20px;
    height: 20px;
}
.burgerLine{
    width: 20px;
    height: 2px;
    margin-top: 3px;
    background-color: black;
}
.burgerMenuIndex a{padding:20px}
.burgerMenuIndex a:hover{background-color: rgb(243,117,72);color: white;border-radius: 10px 0px;}
.containerBeritaAgenda{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 50px 0px 50px 0px;
}
.containerBeritaAgenda h3{font-size: 1.7em;font-weight: 700;color: rgb(100,100,100);}
.berita{
    width: 100%;
    max-width: 850px;
}
.containerBerita{display: flex;justify-content: center;flex-direction: row;flex-wrap: wrap;}
.beritaIsi{
    margin: 10px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 10px 14px 31px -5px rgba(0,0,0,0.54);
    -webkit-box-shadow: 10px 14px 31px -5px rgba(0,0,0,0.54);
    -moz-box-shadow: 10px 14px 31px -5px rgba(0,0,0,0.54);
    min-width: 250px;
    max-width: 25%;
    min-height: 200px;
    max-height: 300px;
    margin-top: 20px;
    padding: 15px 20px 300px 20px;
}
.beritaIsi img{border-radius: 5px;max-width: 100%;}
.tanggalInput{
    margin-bottom: 15px;
    font-weight: 500;
    color: white;
    border-radius: 5px;
    line-height: 2em;
    text-align: center;
    width: 60%;
    height:25px;
    background-color: rgb(243,117,72);
    display: inline-block;
    font-size: .8em;
}
.comment{
    display: inline-block;
    font-weight: 500;
    color: white;
    font-size: .8em;
    line-height: 2em;
    text-align: center;
    width: 15%;
    border-radius: 5px;
    background-color: rgb(219,82,55);
}
.beritaIsi h3{font-weight: 700;color: black;margin: 5px 0px 5px 0px;font-size: 1em;}
.beritaIsi p{font-weight: 200;color: black;font-size: .9em;}
.readMore{
    line-height: 2em;
    color: white;    
    text-align: center;
    font-size: .8em;
    width: 100px;
    height: 25px;
    border-radius: 5px;
    background-color: rgb(192,52,39);
    float: right;
    margin: 10px 0px 30px 0px;
}
.oren{
    display: block;
    width: 100px;
    height: 4px;
    border-radius:2px;
    margin-left:20px;
    background-color: rgb(243,117,72);
}
.agenda{
    padding: 10px 0px 20px 10px;
    margin-left: 10px;
    width: 30%;
    box-shadow: 10px 14px 31px -5px rgba(0,0,0,0.54);
    -webkit-box-shadow: 10px 14px 31px -5px rgba(0,0,0,0.54);
    -moz-box-shadow: 10px 14px 31px -5px rgba(0,0,0,0.54);
    border-radius: 10px;
}
.fotoAgenda{
    padding: 20px;
    text-align: center;
}
.fotoAgenda img{
    width: 49%;
    margin-top: 20px;
    border-radius: 20px;
}
.containerFooter{
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    background-color: rgb(192,52,39);
}
.containerFooterContent{
    margin: 5px;
    min-width: 300px;
    max-width: 24%;
    padding: 20px;
}
.containerFooterContent h4,.containerFooterContent h5,.containerFooterContent p{color: white;}
.containerFooterContent h3{color:white;font-size: 1.2em;font-weight: 700;margin-bottom: 5px;}
.containerFooterContent .oren{
    margin-bottom: 20px;
    background-color: rgba(100, 100, 100, .5);
}
.footerContact div{
    display: flex;
    flex-wrap: nowrap;
    margin-top: 5px;
}
.footerContact div img{height: 10%;margin-right: 15px;}
.footerMedsos img{
    margin: 10px;
    width: 40px;
}
.lastFooter{
    line-height: 3em;
    text-align: center;
    display: block;
    height: 50px;
    background-color: black;
}
.animasi{
    animation: myAnim 2s ease 0s .5 normal forwards;
}
@keyframes myAnim {
    0% {
        animation-timing-function: ease-in;
        opacity: 1;
        transform: translateY(-45px);
    }

    24% {
        opacity: 1;
    }

    40% {
        animation-timing-function: ease-in;
        transform: translateY(-24px);
    }

    65% {
        animation-timing-function: ease-in;
        transform: translateY(-12px);
    }

    82% {
        animation-timing-function: ease-in;
        transform: translateY(-6px);
    }

    93% {
        animation-timing-function: ease-in;
        transform: translateY(-4px);
    }

    25%,
    55%,
    75%,
    87% {
        animation-timing-function: ease-out;
        transform: translateY(0px);
    }

    100% {
        animation-timing-function: ease-out;
        opacity: 1;
        transform: translateY(0px);
    }
}
.masuk{
    animation: masuk 1s ease 0s .5 normal forwards;
}
@keyframes masuk {
	0%,
	50%,
	100% {
		opacity: 1;
	}

	25%,
	75% {
		opacity: 0;
	}
}
@media only screen and (max-width: 1024px) {
    .navigasiAtas{
        justify-content: center;
    } 
  }
@media only screen and (max-width: 768px) {
    .burgerMenu{
        visibility: visible;
    }
    .navigasiAtas{
        margin: auto;
        max-width: 90vw;
        justify-content: center;
        gap: 30px;
    }
    .burgerMenuIndex a:hover{background-color: rgb(207, 207, 207);border-radius: 0px;}
    .burgerMenuIndex{
        position: absolute;
        visibility: hidden;
        background-color: rgb(207, 207, 207);
        box-sizing: unset;
        z-index: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: large;
        justify-content: center;
        width: 100%;
        color: white;
    }
    .burgerMenuIndex a{color: white;}
    
    .beritaIsi{
        min-width: unset;
        max-width: unset;
        width: 45%;
        max-height: 400px;
        padding-bottom: 0px;
    }
    .beritaIsi h3{font-size: .7em;}
    .beritaIsi p{font-size: .6em;}
    .agenda{
        width: 100%;
        box-shadow: none;
        border-radius: 0px;
        padding-top: 40px;
    }
    .containerFooterContent{
        max-width: 90%;
    }
    .infoAtas{
        font-size: .8em;
        padding: 8px 50px 8px 50px;   
    }
    .infoAtas img{transform: scale(.5);}
  }
