@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400&display=swap');
:root{
    --articleColumn : 170px;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    color: white;
    font-family : "Ubuntu", sans-serif;
    font-size: 20px;
    font-weight: 400;
}
h1{font-size: 1em;}h2{font-size: .8em;}h3{font-size: .6em;height: 40px;}h4{font-size: .5em;}

body{
    background-color: rgb(0, 0, 0);
    padding-bottom: 100px;
}
header{
    width: 100%;
    padding: 20px 0 20px 20px;
    background-color: rgb(145, 15, 49);
    box-shadow: 0px 10px 4px 1px rgba(211, 30, 30, 0.5);
  -webkit-box-shadow: 0px 3px 15px 1px rgba(211, 30, 30, 0.5);
  -moz-box-shadow: 0px 3px 40px 1px rgba(211, 30, 30, 0.5);
}
article{
    margin: 20px auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}
.articleContents{
    width: 170px;
    height: 160px;
    margin: 35px 20px 20px 20px;
}
.articleContents img{
    width:var(--articleColumn);
    height: calc(var(--articleColumn)*9/16);
    border-radius: 10px;
    margin-bottom: 5px;
}
.date{
    float: right;
    color: rgb(76, 76, 76);
    font-style: italic;
    margin-top: 5px;
    font-weight: 300;
}

@media only screen and (max-width: 768px) {
    :root{
        --articleColumn : 150px;
    }
    .articleContents {
        width: var(--articleColumn);
      height: calc(160/170*var(--articleColumn)+20);
      margin: 5px;
    }
    .articleContents img{
        width:var(--articleColumn);
        height: calc(var(--articleColumn)*9/16);
        border-radius: 10px;
        margin-bottom: 5px;
    }
    *{font-size: 18px;}
  }
