@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');
.container{

    display:block;

    width:500px;
    height:600px;
    margin:auto;
    padding:0px;
    border-radius:50px;
    border: solid 5px rgba(54, 206, 61, 0.637);
    border-top-width: 0px;
    background-color:rgb(0, 0, 0);
}
.header{
    display:block;
    width:490px;
    height:50px;
    margin:auto;
    padding-top:5px;
    text-align:center;
    font:normal 32px 'Sigmar One', cursive; ;
    color:rgb(255, 255, 255);
    border-radius:20px 20px 30px 30px;box-sizing:border-box;
    background-color:rgb(75, 196, 165);
}
.comp{
   position:relative;
   width:490px;
   height:245px;
   box-sizing:border-box;
   padding-top:25px;
   border-radius:10px;
   margin:5px;
   background-color:rgb(133, 233, 67); 
}
#namaLawan{
    display:block;
    margin-top:-20px;
    font:bold small-caps 30px 'Montserrat',sans-serif;
    text-align: center;
    color:rgb(255, 0, 0);
}
#pilComp{
    display:block;
    margin:auto;
    width:140px;
    height:140px;
    border-radius:70px;
    border:2px dashed rgb(0, 4, 255);
    background-image: url(batu.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
#hasil{
    display:block;
    width:270px;
    height:50px;
    background-color:rgb(255, 255, 255);
    border-radius:20px;
    border:3px solid green;
    position:relative;top:-280px;left:110px;
    text-align:center;
    font:bold 45px Montserrat, sans-serif ;
    color:rgb(209, 197, 147);
    
}
.player{
    position:relative;
    box-sizing:border-box;
    margin:-1px 5px 0px 5px;
    border-radius:10px;
    width:490px;
    height:245px;
    background-color:rgb(207, 39, 61); 
}
#batu:hover{ border:5px solid rgb(12, 158, 202);}
#gunting:hover{ border:5px solid rgb(12, 158, 202);}
#kertas:hover{ border:5px solid rgb(12, 158, 202);}


.pilihan{font-size: 0.01px;}
#namaplay{
    display: block; 
    padding-top: 10px;  
    font:bold small-caps 35px 'Montserrat',sans-serif;
    text-align: center;
}
#batu{
    background-image: url(https://raw.githubusercontent.com/d-arsya/resource/main/batu.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display:inline-block;
    margin:0px 0px 0px 30px;
    width:140px;
    height:140px;
    border-radius:70px;
    border:2px dashed rgb(0, 195, 255);
    background-color:white;
}
#kertas{
    background-image: url(https://raw.githubusercontent.com/d-arsya/resource/main/kertas.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display:inline-block;
    margin:0px 0px 0px 0px;
    width:140px;
    height:140px;
    border-radius:70px;
    border:2px dashed rgb(0, 195, 255);
    background-color:white;
}
#gunting{
    background-image: url(https://raw.githubusercontent.com/d-arsya/resource/main/gunting.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display:inline-block;
    margin:0px 0px 0px 0px;
    width:140px;
    height:140px;
    border-radius:70px;
    border:2px dashed rgb(0, 195, 255);
    background-color:white;
}
.footer{
    display:block;
    padding:0px;
    margin:-50px 0px 0px 5px;
    border-radius:30px 30px 20px 20px;
    width:490px;
    height:50px;
    background-color:rgb(75, 196, 165); 
    text-align:center;
    font:normal 20px Impact,sans-serif ;
    color:rgb(255, 255, 255);
}
.medsos{
    display: block;
    margin: -10px 0px 0px 5px;
    border-radius: 20px 60px;
    width: 390px;
    height: 30px;
    background-color: rgb(75, 196, 165); 
}
.medlist div{
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 15px;
    margin: 0px 10px 0px 30px;
    background-color: rgb(255, 255, 255);
    background-color: rgb(255, 255, 255);
    background-size: 20px;
    background-position: center;
    background-repeat: no-repeat;
}
.instagram{
    background-image: url(https://raw.githubusercontent.com/d-arsya/resource/main/IG.PNG) ;
}
.telegram{
    background-image: url(https://raw.githubusercontent.com/d-arsya/resource/main/TELE.PNG) ;
}.gmail{
    background-image: url(https://raw.githubusercontent.com/d-arsya/resource/main/GMAIL.PNG) ;
}.whatsapp{
    background-image: url(https://raw.githubusercontent.com/d-arsya/resource/main/WA.PNG) ;
}
